* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Arial, sans-serif;
}

body {
    background-color:#d2d9e0; 
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
}

.form-card {
    background: #ffffff;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    width: 450px;
    text-align: center;
}

.form-card h2 {
    color: #b30000;
    margin-bottom: 25px;
    font-size: 24px;
}

input[type="text"],
input[type="number"],
select {
    width: 100%;
    padding: 15px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 10px;
    font-size: 16px;
    outline: none;
    color: #333;
}

input:focus, select:focus {
    border-color: #b30000;
}

.button-container {
    display: flex;
    gap: 15px;
    margin-top: 10px;
}

.btn-save {
    flex: 1.5;
    background-color: #b30000;
    color: white;
    border: none;
    padding: 15px;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
    font-size: 15px;
    transition: background 0.3s;
}

.btn-save:hover {
    background-color: #2e4775;
}

.btn-cancel {
    flex: 1;
    background-color: #cccccc;
    color: #333;
    text-decoration: none;
    padding: 15px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background 0.3s;
}

.btn-cancel:hover {
    background-color: #b3b3b3;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}