* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: #d2d9e0; 
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.form-card {
    background-color: #ffffff;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
    width: 400px;
    text-align: center;
}

.form-card h2 {
    color: #b30000;
    margin-bottom: 25px;
    font-size: 22px;
    font-weight: bold;
}

input[type="text"],
input[type="number"],
select {
    width: 100%;
    padding: 12px 15px;
    margin-bottom: 15px;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    background-color: #fcfcfc;
    font-size: 14px;
    outline: none;
    transition: border 0.3s;
}

input:focus, select:focus {
    border: 1px solid #b30000;
}

.button-group {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

button.btn-simpan {
    flex: 1;
    background-color: #b30000;
    color: white;
    border: none;
    padding: 12px;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s;
}

button.btn-simpan:hover {
    background-color: #b30000;
}

.btn-batal {
    flex: 1;
    background-color: #cccccc;
    color: #333;
    text-decoration: none;
    padding: 12px;
    border-radius: 8px;
    font-size: 14px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background 0.3s;
}

.btn-batal:hover {
    background-color: #b3b3b3;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}